.search-box {
  margin-top: 20px;
  display: flex;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  height: 48px;
  width: 100%;
}
.search-box button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}
.search-box input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #f6f6f6;
  font-size: 18px;
  
}


