.page-content .image .background {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.page-content .image .content .logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-top: -100px;
}
.page-content .evaluation{
    margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
