.categories {
  margin-top: 20px;
}
.categories ul {
  display: flex;
  list-style-type: none;
  overflow-y: auto;
  position: relative;
  gap: 18px;
  flex-direction: row-reverse;
}
.categories ul::-webkit-scrollbar {
  display: none;
}

.category-item {
  padding: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.category-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.category-item p {
  font-size: 15px;
  font-weight: bold;
}
.category-item img {
  width: 90px;
  height: 60px;
  margin-bottom: 8px;
  border-radius: 18px;
}