.detiles .cover {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.detiles .name {
  text-align: center;
  font-family: "Fascinate", system-ui;
  font-weight: bold;
}
.detiles .detils {
  text-align: center;
  margin: 40px 0;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 18px;
}
.detiles .videobox iframe {
  width: 100%;
  height: 300px;
}

.detiles .subdis {
  display: block;
  margin-top: 20px;
}

.detiles .subdis .num {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  font-size: 18px;
}
.detiles .subdis .num p {
  font-weight: bold;
}

.modal p {
  margin-top: 10px;
}

.modal {
  font-size: 18px;
  text-align: end;
  margin-right: 40px;
}
.modal input {
  width: 400px;
  height: 24px;
  padding: 8px;
  border-radius: 18px;
  text-align: end;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  border: 2px solid #ccc;
}

.detiles .butt {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.butt:focus {
  outline: 0;
}

.butt {
  touch-action: manipulation;
  background-image: linear-gradient(
    135deg,
    color(display-p3 0.572549 0.415686 1) 0%,
    color(display-p3 1 0.466667 0.690196) 50%,
    color(display-p3 1 0.701961 0.403922) 100%
  );
  border-radius: 8px;
  color: #fff;
  font-feature-settings: "ss01", "cv10", "calt" 0, "liga" 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  transition: transform 0.2s cubic-bezier(0.6, 0.6, 0, 1),
    margin-top 0.2s cubic-bezier(0.6, 0.6, 0, 1);
  transition-behavior: normal, normal;
}

.butt::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0),
    linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

.butt::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, 0.32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

.butt::after,
.butt::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.butt::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, 0.3) 0 9px 21px,
    rgba(73, 2, 57, 0.2) 0 -3px inset;
  height: 100%;
  transition: box-shadow 0.2s cubic-bezier(0.6, 0.6, 0, 1),
    background-color 0.2s cubic-bezier(0.6, 0.6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

.butt:active {
  transform: translateY(1.5px);
}

.butt:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.butt:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, 0.2) 0 9px 21px,
    rgba(73, 2, 57, 0.2) 0 0 inset;
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 360px) {
  .detiles .subdis {
    display: block;
  }
  .detiles .subdis .num {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  .detiles .reting {
    margin: 10px;
  }
}
