.list-item {
  margin-top: 20px;
}
.list-item a {
  text-decoration: none;
  color: #000;
}
.list-item .title {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 35px;
  gap: 10px;
}
.list-item .title p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Lalezar";
}
.list-item .content .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000fff;
}

.list-item .details-item {
  text-align: end;
}
.list-item .details-item span {
  font-size: 18px;
  font-weight: bold;
}
.list-item .details-item p {
  color: #666;
  margin-top: 4px;
}
.list-item .details-item .evaluation {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  margin-bottom: 28px;
}
.list-item .details-item .evaluation p {
  color: #000;
}

.list-item .imag-item .backgrond {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.list-item .imag-item .logo {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: relative;
  margin-top: -80px;
  margin-left: 20px;
}
