.header {
  border-bottom: 1px solid #000;
  background-color: #eee;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.content p {
  font-weight: bold;
  font-size: 24px;
}
