.header {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  z-index: 3;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .content h2 {
  font-family: "Pacifico";
}

.header .content a {
  font-size: 24px;
  color: #000;
}
.header .content .categ {
  font-size: 24px;
  cursor: pointer;
}