.touchable {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 30px;
  color: #010101;
}
.contentUser .user .title {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}
.contentUser .user {
  text-align: end;
}
.contentUser .user button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin-right: 35px;
  font-size: 15px;
  color: #000fff;
}
.line {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
