.footer {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  position: sticky;
  bottom: 0;
  z-index: 3;
}
.footer .content .title {
  display: flex;
  align-items: center;
}
.footer .content .title p {
  font-size: 18px;
  font-weight: bold;
}
.footer .content .title img {
  width: 50px;
  height: 50px;
}
.footer .content ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}
.footer .content ul li img {
  width: 24px;
}
.footer .content ul li a {
  font-size: 24px;
  color: #000;
}
